<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Barchar of sales</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                {% for key, value in data1.items() %}
                    {% if value is string %}
                        ['{{ key }}', '{{ value }}'],
                    {% else %}
                        ['{{ key }}', {{ value }}],
                    {% endif %}
                {% endfor %}
            ]);

            
            var options = {
                title: 'Country Populations',
                legend: { position: 'none' },
                colors: ['#e7711c'],
                histogram: { lastBucketPercentile: 5 },
                vAxis: { scaleType: 'mirrorLog' }
            };

            var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
</body>
</html>